@import '~antd/es/style/themes/default.less';

.layout {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 24px;
}

.right {
  display: grid;
  grid-template-rows: 1fr minmax(50vh, auto);
  gap: 24px;
  align-items: start;
}

.tabContent {
  display: grid;
  gap: 24px;
}

.avatar {
  min-width: 200px;
  max-width: 10vw;
  overflow: hidden;
  box-shadow: 0 0 5px #0002;
  cursor: pointer;
  transition: box-shadow 0.05s;
  &:hover {
    box-shadow: 0 0 15px #0002;
  }
  img {
    width: 100%;
  }
}

.radioGroup {
  display: grid;
  grid-template-columns: repeat(5, max-content);
  gap: 6px;
  margin: -12px 0;
}

.textEllipse {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px;
  align-items: center;

  .content {
    display: inline-block;
    width: 100%;
    max-width: 10vw;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.badge {
  :global(.ant-badge-status-dot) {
    width: 13px;
    height: 13px;
    margin-right: -1px;
  }
}

.changePasswordButton {
  display: block;
  width: 100%;
  margin-bottom: 12;
}

.roleButton {
  display: inline-flex;

  & > .button {
    opacity: 0;
    transform: translateX(20%);
    transition: 0.2s;
  }
  &:hover > .button {
    transform: translateX(0);
    opacity: 1;
  }
}
