@import '~antd/es/style/themes/default.less';

.layout {
  display: grid;
  grid-template-columns: minmax(200px, max-content) 1fr;
  gap: 24px;
}

.right {
  display: grid;
  grid-template-rows: 1fr minmax(50vh, auto);
  align-items: start;
  gap: 24px;
}

.tabContent {
  display: grid;
  gap: 24px;
}

.avatar {
  width: 10vw;
  height: 10vw;
  margin-bottom: 12px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0 5px #0002;
  transition: box-shadow .05s;
  &:hover {
    box-shadow: 0 0 15px #0002;
  }
  img {
    width: 100%;
  }
}

.radioGroup {
  display: grid;
  grid-template-columns: repeat(5, max-content);
  gap: 6px;
}
