@import '~antd/es/style/themes/default.less';

.layout {
  display: grid;
  grid-template-columns: minmax(200px, max-content) 1fr;
  gap: 24px;
}

.right {
  display: grid;
  gap: 24px;
}

.avatar {
  width: 10vw;
  height: 10vw;
  margin-bottom: 12px;
  overflow: hidden;
  cursor: pointer;
  img {
    width: 100%;
  }
}

.radioGroup {
  display: grid;
  gap: 6px;
  grid-template-columns: repeat(5, max-content);
}
