@import '~antd/es/style/themes/default.less';

.HubChatItem:hover {
  background:red !important;
}

html,
body,
#root {
  height: 100%;
  font-family: "Open Sans", Roboto, Quicksand, @font-family;
}

#logo h1 {
  font-weight: bold;
  font-size: 1.5em;
}

@track-color: transparent;
@thumb-color: rgba(0,0,0,0.2);
@scrollbar-size: 7px;
	/* Currently there is no cross-platform support for custom css scrollbar */
* {
  /* Firefox */
  /* https://stackoverflow.com/a/54101063/9449426 */
  scrollbar-width: @scrollbar-size;
  scrollbar-color: @track-color @thumb-color;
  /* Chromium */
  /* https://stackoverflow.com/a/53739309/9449426 */
  ::-webkit-scrollbar {
    width: @scrollbar-size;
    height: @scrollbar-size;
  }
  ::-webkit-scrollbar-track-piece  {
    background-color: @track-color;
  }
  ::-webkit-scrollbar-thumb:vertical,
  ::-webkit-scrollbar-thumb:horizontal {
    background-color: @thumb-color;
  }
}

.colorWeak {
  filter: invert(80%);
}

.colorPrimary {
  color: @primary-color !important;
}

.ant-layout {
  min-height: 100vh;
}

// layout:top, theme:dark, the current style is too subtle, we need this to make it more apparent
.ant-menu-dark .ant-menu-submenu-horizontal.ant-menu-submenu-selected {
  color: @white;
  background: fade(@primary-color, 95);
}

// layout:top, theme:dark, the current menu color stuff only applys for text BUT NOT THE ICONS, we apply it for the icon as well
.ant-pro-top-nav-header .ant-menu .anticon {
  color: inherit;
}

.ant-modal-title,
.ant-pro-card-title,
.ant-card-head-title,
.ant-pro-table-list-toolbar-title {
  font-weight: bold !important;
  text-transform: uppercase;
  color: @primary-color !important;
}
.header-capitalize {
  .ant-modal-title,
  .ant-pro-card-title,
  .ant-card-head-title,
  .ant-pro-table-list-toolbar-title {
    text-transform: capitalize !important;
  }
}
.ant-modal-title {
  text-transform: capitalize !important;
}

.ant-modal-header {
  background: #f6f6f6 !important;
}
.header-with-background {
  .ant-pro-card-title,
  .ant-card-head {
    --header-color: #fff5eb;
    background: var(--header-color) !important;
  }
}
.ant-table-thead .ant-table-cell {
  --header-color: #faf5f1;
  font-weight: bold !important;
  background: var(--header-color) !important;
}
.no-header-color .ant-table-thead .ant-table-cell {
  --header-color: #00000006;
}

.ant-card-head {
  border-bottom-width: 1.5px !important;
}

.outlined-button(@color) {
  & {
    color: @color;
    border-color: @color;
  }
  &:hover, &:focus {
    color: fade(@color, 70);
    border-color: fade(@color, 70);
  }
}
.success-outlined-button {
  .outlined-button(@success-color);
}
.primary-outlined-button {
  .outlined-button(@primary-color);
}
.primary-hover-button {
  &:hover, &:focus {
    border-color: fade(@primary-color, 70) !important;
    color: @white !important;
    background: @primary-color !important;
  }
}

.emphasize-tag {
  font-size: 1.2em;
  font-weight: 600;
}

// Custom shadow for Cards
// source: https://getcssscan.com/css-box-shadow-examples #7
@custom-subtle-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

// the mixin
.card-shadow() {
  border-radius: @border-radius-base;
  box-shadow: @custom-subtle-shadow;
  overflow: hidden;
}
// Every card with the shadow should have class .card-shadow
.card-shadow {
  &.ant-card,
  &.ant-pro-card,
  &.ant-pro-table > .ant-card,
  &.ant-pro-table > .ant-pro-table-search-query-filter {
    .card-shadow();
  }
}
// breadcrumb should have the shadow as well
.ant-pro-global-header,
.ant-pro-page-container-warp {
  box-shadow: @custom-subtle-shadow;
}
.ant-pro-core-field-dropdown-overlay {
  border-radius: @border-radius-base;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}

// 兼容IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
}
